@import '../../styles/variables.scss';

.button {
    padding: 10px 27px;
    border-radius: $radius-s;
    font-size: $font-size-s;
    cursor: pointer;
    transition: $transition-fast transform;

    &:active {
        transform: scale(0.95);
    }
}
