.cards {

    &__title {
        margin-top: 39px;
        margin-left: 29px;
        font-weight: 700;
        font-size: 36px;
    }

    &__map {
        height: 50vh;
        width: 50%;

        &-container {
            display: flex;
            column-gap: 50px;
            align-items: center;
            margin: 39px 29px 0;
        }

        &-info {
            max-width: 400px;
        }

        &-info-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            gap: 45px;
        }

        &-info-item {
            list-style: none;
            cursor: pointer;

            &-title {
                font-size: 16px;
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE 10+ */
                user-select: none; /* Standard */
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &-title {
            font-size: 24px;
        }
    }
}