@use '@styles/variables.scss';

.info {
    &__container {
        padding: 39px 29px;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    &__description {
        font-weight: variables.$font-weight-regular;
        font-size: variables.$font-size-s;
    }

    &__list {
        margin-top: -3.5vh;
    }

    &__item {
        margin-left: 5vw;
        font-weight: variables.$font-weight-regular;
        font-size: variables.$font-size-s;
    }
}