@import '../../styles/variables.scss';

.label-radiobutton,
.label-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    position: relative;
    font-size: $font-size-s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard */
}

.input-radiobutton,
.input-checkbox {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1.5px solid $second-color;
    border-radius: 50%;
    background: $white-color;
    position: relative;
    transition: border-color $transition-fast;
    cursor: pointer;
}

.input-radiobutton::before,
.input-checkbox::before {
    transition: background $transition-fast;
}

.input-radiobutton:checked,
.input-checkbox:checked {
    border-color: $black-color;
    background: $white-color;
}

.input-radiobutton:checked::before,
.input-checkbox:checked::before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background: $black-color;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}