@import '../../styles/variables.scss';

.footer {

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 25px 29px;
        background-color: $main-color;
    }

    &__address,
    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        color: $white-color;
    }

    &__description {
        color: $white-color;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
    }

    &__email,
    &__tel {
        margin-left: 10px;
        text-decoration-color: $link-inactive-white;
        color: $white-color;
        font-weight: $font-weight-medium;
        transition: $transition-medium text-decoration-color;
    }

    &__email:hover,
    &__tel:hover {
        text-decoration-color: $link-active-white;
    }
}